_state*
.DS_Store
bin/*
hollowtrees.iml
.hollowtrees
hollowtrees
conf/config.yaml
*.swp
dummy_plugin/dummy_plugin
/vendor/
/.licensei.cache

# IDE integration
/.idea/*
!/.idea/copyright/
!/.idea/*.iml
!/.idea/externalDependencies.xml
!/.idea/go.imports.xml
!/.idea/modules.xml
!/.idea/runConfigurations/
!/.idea/scopes/
