global:
  bindAddr: ":9092"
  buffersize: 100

# logger settings
log:
  format: "text"
  level: "debug"

action_plugins:
  - name: "dummy-plugin-1"
    address: "localhost:9093"
    type: "grpc"

  - name: "dummy-plugin-2"
    address: "localhost:9093"
    type: "grpc"


action_flows:
  - name: "simple_flow"
    description: "simple dummy flow"
    event_type: "prometheus.server.alert.DummyTestAlert1"
    action_plugins:
      - "dummy-plugin-1"

  - name: "advanced_flow"
    description: "dummy flow that limits concurrency, has flow cooldown, repeat cooldown, retries and grouping configured"
    event_type: "prometheus.server.alert.DummyTestAlert2"
    concurrent_flows: 2
    flow_cooldown: 1m
    repeat_cooldown: 5m
    retries: 5
    group_by:
      - "cluster_name"
      - "instance_id"
    action_plugins:
      - "dummy-plugin-1"
      - "dummy-plugin-2"
    match:
      - cluster_name: "test-cluster"